h1,
h2,
h3,
h4,
h5,
p,
strong,
span{
font-family: 'Open Sans', sans-serif;
}
.nav-section{
    width:100%;
    .navbar-collapse {
        justify-content:end;
        dipslay:flex;
    }
    .navbar{
        padding: 10px 98px;
        .nav-item{
        .nav-link{
            color: black;
    font-weight: 500;
        }
        .clrd{
            color:#30b2d2;

        }
    }
    }
}
.outer-section{
        width:100%;
        background-color:whitesmoke;
        min-height:800px;
        .text-info{
       text-align:center;
       padding-top:20px;
       padding-bottom:20px;
       h3{
           color:black;
       }
       p{
           color:gray;
       }
       h5{
           color:gray;
           font-size: 16px;
           strong{
            color:black; 
           }
       }
        }
        .map-section{
            width:100%;
            background-color:#dedede;
            height:220px;
            text-align: center;
            .mdi{
                color:black;
            }
        }
        .boxes-section{
            width:100%;
            .b0x-four{
                width:100%;
                padding-top:30px;
                .one-box{
                    background-color:#dedede;
                    min-height:160px;
                }
            }
        }
    }
.footer{
    width:100%;
    min-height:300px;
    background-color:black;
    padding-top:90px;
    h2{
        color:white;
        font-size:22px;
        margin-left:46px;
    }
    ul{
        color:white;
        li{
            list-style:none;
            a{
                color:white;
                text-decoration:none;
            }
           
        }
    }
}